<ion-header>
    <ion-toolbar style="max-height: 44px" keybrd with-bg mode="ios">

        <ng-container *ngIf="(isSearch$ | async) === false">
            <ion-title (click)="changeSelectValue(value)" *abLet="pgS.selectView.valueChanges$ | async as value">
                <div class="calendar__navigation-btns">
                    <app-budge (click)="pgS.step(-1)">
                        <ab-svg without-hover iconPath="/assets/sprites/sprite.svg#arrow-app-left"></ab-svg>
                    </app-budge>
                    <h3>{{pgS.selectView.getValue().name}}</h3>
                    <app-budge (click)="pgS.step(1)">
                        <ab-svg without-hover iconPath="/assets/sprites/sprite.svg#arrow-app-right"></ab-svg>
                    </app-budge>
                </div>

            </ion-title>
        </ng-container>

        <ng-container *ngIf="(isSearch$ | async) === false; else searchControl">
            <ion-buttons slot="end">
                <ion-button (click)="setSearchMode(true)">
                    <ab-svg class="calendar__search-icon" iconPath="/assets/sprites/sprite.svg#search"></ab-svg>
                </ion-button>
            </ion-buttons>
        </ng-container>

        <ng-template #searchControl>
            <ion-buttons style="margin-top: -22px; margin-left: -8px;" slot="start">
                <ion-button (click)="setSearchMode(false)">
                    <ab-svg class="calendar__search-icon" without-hover iconPath="/assets/sprites/sprite.svg#x_medium">
                    </ab-svg>
                </ion-button>
            </ion-buttons>
            <div slot="secondary" class="calendar__search-control">
                <ab-data-list-host class="calendar__search" [(open)]="openDropdownSearch">
                    <ab-text-control class="calendar__search-control" [size]="'s'" [customIcon]="search" [model]="userCalendarsService.searchViewModel"></ab-text-control>
                    <ab-data-list *dataList>
                        <ab-data-list-item *ngFor="let event of userCalendarsService.events$ | async" [value]="event" (click)="openEvent(event.value)">
                            <div class="calendar__search-item">
                                <div [style.background-color]="event.value.color" class="calendar__color-block"></div>
                                <span class="calendar__event-name">{{event.name}}</span>
                                <div class="calendar__time" *ngIf="!event.value.isAllDay">
                                    {{ event.value.dateStartUtc | dateFormat: 'hh:mm' }}
                                    -
                                    {{ event.value.dateEndUtc | dateFormat : 'hh:mm' }}
                                </div>
                                <div class="calendar__time" *ngIf="event.value.isAllDay">
                                    {{ 'Весь день' }}
                                </div>
                            </div>
                        </ab-data-list-item>
                    </ab-data-list>
                </ab-data-list-host>
                <ng-template #search>
                    <ab-svg class="calendar__icon-header" *ngIf="!userCalendarsService.searchViewModel.getValue()" without-hover
                            iconPath="/assets/sprites/sprite.svg#search">
                    </ab-svg>
                </ng-template>
            </div>
        </ng-template>
    </ion-toolbar>
</ion-header>

<ion-content off-keyboard-padding *ngIf="userCalendarsService.isLoaded$ | async; else loader">
    <div class="calendar">
        <div class="calendar__navigation-title">
            {{ (pgS.range$ | async) | dateRange | translate }}
        </div>
        <div class="calendar__navbar">
            <div style="display: flex; justify-content: space-between">
                <ab-ui-button [type]="'secondary'" (click)="openSideBarEditCalendar(template)"
                        [icon]="{ 'name': 'calendar', 'position': 'right' }">
                    Календари
                </ab-ui-button>
                <ab-ui-multi-button (abClick)="createEvent()" [dropDown]="dropDownTemplate" type="secondary" [icon]="{ name: 'plus', position: 'left' }">
                    Создать
                </ab-ui-multi-button>

            </div>
        </div>
        <div class="calendar__body">
            <app-calendar-table [events]="(pgS.events$ | async)"
                    [view]="pgS.view$ | async"
                    [isLoading]="eventManager.isLoading$ | async"
                    [cellHeight]="(pgS.view$ | async) === 'month' ? 150: 50"
                    [showNowLine]="(pgS.view$ | async) !== 'month'"
                    [titleColumnWidth]="50"
                    [startWorkDay]="8"
                    [endWorkDay]="20"
                    [rowsInAllDay]="6">
            </app-calendar-table>
        </div>
    </div>
</ion-content>

<ng-template #dropDownTemplate>
    <div class="calendar__dropdown">
        <div class="calendar__dropdown-button" (click)="createEvent()">Событие</div>
        <div class="calendar__dropdown-button" (click)="createCalendar()">Календарь</div>
        <div class="calendar__dropdown-button" (click)="createGroup()">Группу</div>
        <ab-data-list-host
                [(open)]="openDropdown"
                [abModalDropdownPaddingX]="-244"
                [abModalDropdownPaddingY]="-40"
        >
            <div class="calendar__dropdown-button">Редактировать</div>
            <ab-data-list *dataList>
                <ab-data-list-item (click)="createCalendar(true)">
                    Календарь
                </ab-data-list-item>
                <ab-data-list-item (click)="createGroup(true)">
                    Группу
                </ab-data-list-item>
            </ab-data-list>
        </ab-data-list-host>
    </div>
</ng-template>

<ng-template #template>
    <app-side-modal-calendars></app-side-modal-calendars>
</ng-template>

<ng-template #loader>
    <div class="calendar__loader">
        <ab-svg class="calendar__loader-icon" without-hover
                iconPath="/assets/sprites/sprite.svg#loading"></ab-svg>
    </div>
</ng-template>
